<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APS_ENVIRONMENT</key>
	<string>$(APS_ENVIRONMENT)</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Unify uses your location to find nearby people and services when you search without naming a city.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
